<div class="layui-header">
  <div class="layui-logo">
    <img style="width: 40px;height:40px; border-radius: 50%;" src="https://chanbaba.img.gek6.cn/cbb-admin-logo.png"
      alt="">
    <span>铲粑粑后台管理</span>
  </div>
  <!-- 头部区域（可配合layui已有的水平导航） -->
  <!-- <div class="layui-nav layui-layout-left">
      <div style="line-height: 60px;font-size: 18px;">铲粑粑后台管理系统</div>
    </div> -->
  <!-- <ul class="layui-nav layui-layout-left">
      <li class="layui-nav-item"><a href="">控制台</a></li>
      <li class="layui-nav-item"><a href="">商品管理</a></li>
      <li class="layui-nav-item"><a href="">用户</a></li>
      <li class="layui-nav-item">
        <a href="javascript:;">其它系统</a>
        <dl class="layui-nav-child">
          <dd><a href="">邮件管理</a></dd>
          <dd><a href="">消息管理</a></dd>
          <dd><a href="">授权管理</a></dd>
        </dl>
      </li>
    </ul> -->
  <ul class="layui-nav layui-layout-right">
    <li class="layui-nav-item">
      <a href="javascript:;">
        <img src="http://t.cn/RCzsdCq" class="layui-nav-img">
        <%= userInfo.username %>
      </a>
      <!-- <dl class="layui-nav-child">
          <dd><a href="">基本资料</a></dd>
          <dd><a href="">安全设置</a></dd>
        </dl> -->
    </li>
    <li class="layui-nav-item"><a style="cursor: pointer;" href="/admin/login/out" >退了</a></li>
  </ul>

  <script>
     
 

  </script>
</div>