<%- include('../common/common_header.ejs'); %>

<div style="padding-top: 30px;">
    <form class="layui-form">
        <div class="layui-form-item"">
                <label class=" layui-form-label">图片标题</label>
            <div class="layui-input-block">
                <input style="width: 300px;" type="text" name="title" lay-verify="title" autocomplete="off"
                    placeholder="请输入标题" class="layui-input">
            </div>
        </div>

    </form>

    <script>


    </script>
</div>