<%- include('../common/common_header.ejs'); %>
   <div style="background-color: #ffffff;padding: 20px;">
      <fieldset class="layui-elem-field layui-field-title">
         <legend>轮播图管理</legend>
     </fieldset>
     <div>
        <button type="button" class="layui-btn" id="addBannerBtn"><i class="layui-icon layui-icon-addition"></i>   新增轮播图</button>
     </div>
      <table class="layui-hide" id="tableDom"></table>

      <div id="tableTools" style="display: none;">
         <button class="layui-btn layui-btn-sm">禁用</button>
      </div>
   </div>
   <style>
      td .layui-table-cell {
         height: 60px;
         line-height: 60px;
      }
   </style>
   <script>
      layui.use('table', function () {
         var table = layui.table;

         table.render({
            elem: '#tableDom'
            , title: "轮播图列表"
            , url: '/admin/banner/banner-list-json'
            , parseData: function (res) {

               return {
                  code: res.code,
                  msg: res.msg,
                  data: res.data.docs,
                  count: res.data.total
               }
            }
            , id: "userTable"
            , cols: [[
               { field: '_id', width: 240, title: 'ID', }
       
               , { field: 'name', width: 100, title: '姓名', sort: true }
               , { field: 'telephone', width: 160, title: '手机号' }
               , { field: 'wx_number', width: 160, title: '微信号' }
               


               , { fixed: 'right', title: '操作', toolbar: '#tableTools' }
            ]]
            , page: true
            , height: $(document).height() -170
            , line: 'line'
         });

         table.resize('userTable');

         $("#addBannerBtn").click(function(){
            let layIndex = layer.open({
                            type: 2,
                            resize: true,
                            maxmin: true,
                            area: ['80vw', '90vh'],
                            title: '铲屎官审核',
                         
                            content: '/admin/banner/addPage' //这里content是一个URL，如果你不想让iframe出现滚动条，你还可以content: ['http://sentsin.com', 'no']
                        });
         })
      });
   </script>